li{

    text-align:justify;
    line-height: 2.6;
}

.button {
    background-color: #4CAF50;
    border: 2px solid black;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius:8px;

  }

  .h1{

    text-align: center;
    color:blue;

  }

  div.q{

    line-height: 80%;
  }

  div.a{
    line-height: 20%;
    
  }

